body, html, div {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 56px;
  background-color: black;
  color: #aaa;
  user-select: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 400px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "devicesbar devicesbar devicesbar" "programsbar controlsbar preview" "programsbar controlsbar sound";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gradient-tas {
  width: 100px;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gradient-dropdown {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.bg-lighter {
  background: rgba(255, 255, 255, 0.05);
}

.bg-lighter-info {
  background: rgba(23, 162, 184, 0.11);
}

.devicesbar {
  grid-area: devicesbar;
}

.programsbar {
  grid-area: programsbar;
  background-color: #1a1b1d;
  border-right: 8px solid black;
  user-select: none;

  .nav-link {
    cursor: pointer;


    &:hover {
      background-color: #222;
    }

    &.active {
      color: white;
      background-color: #343a40;
    }
  }

  .nav-preset {
    cursor: pointer;
    color: darkcyan;
    font-size: 0.8em;
    //border-bottom: solid 1px rgba(0, 139, 139, 0.3);

    &:hover {
      background: rgba(0, 139, 139, 0.3);
    }
  }
}

.controlsbar {
  grid-area: controlsbar;
  user-select: none;
  background-color: #1a1b1d;
}

.preview {
  grid-area: preview;
  overflow: auto;
}

.soundbar {
  grid-area: sound;
  overflow: auto;
}

hr {
  border-top-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link {
  color: #999;
}

.sidebar-2 {
  background-color: #1a1b1d;
}

.list-group-item {
  color: #CCC;
  background-color: #343a40;

  &:hover {
    color: #CCC;
    background-color: #42484e;
  }

  &.active:hover {
    background-color: #007bff;
  }
}

.config-item {
  margin-bottom: 5px;
  .list-group-item {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}

.config-group-header {
  font-weight: bold;
  cursor: pointer;
}

.mic-client {
  background-color: #1a1b1d;
  position: relative;

  canvas {
    width: auto;
  }
}

.mic-btns {
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-align: right;
}

.preview-btn {
  text-align: center;
  color: white;
  position: absolute;
  top: 48%;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.lights-simulator {
  background-color: black;
}

.preview-area {
  position: relative;

  /* background-color: #1a1b1d; */
  text-align: center;

  canvas {
    max-width: 100%;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0px;
  width: 100%;
  background-color: transparent;

  &::-webkit-slider-runnable-track {
    /*width: 150px;*/
    height: 3px;
    background: #343a40;
    border: none;
    border-radius: 3px;
  }

  &::-moz-range-track {
    /*width: 150px;*/
    height: 3px;
    background: #343a40;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #007bff;
    margin-top: -8px;
    cursor: pointer;
  }

  &:hover::-webkit-slider-thumb, &:active, &:focus::-webkit-slider-thumb, &::-webkit-slider-thumb:hover, &:active::-webkit-slider-thumb {
    outline: none;
    background: #ffdf10;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #CCC;
  }
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 0.3fr 80px 1fr;
    grid-template-areas: "devicesbar devicesbar" "programsbar preview" "programsbar sound" "controlsbar controlsbar";
  }

  .mic-client canvas {
    height: 100px;
  }

  .devicesbar {
    zoom: 0.8;

    .btn-sm {
      padding: 0rem 0.2rem;
    }
  }

  .soundbar {
    zoom: 0.7;
  }

  .programsbar {
    border-right: solid 2px gray;
    .nav-link {
      font-size: 0.8em;
    }
  }

  .controlsbar {
    border-top: solid 2px gray;
    // Space fot the finger to scroll with changing a param by accident
    padding-right: 50px !important;
  }

  .preview-btn {
    font-size: 0.7em;
  }
}
