body, html, div {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 56px;
  background-color: black;
  color: #aaa;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "devicesbar devicesbar devicesbar" "programsbar controlsbar preview" "programsbar controlsbar sound";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr auto 1fr;
    grid-template-areas: "devicesbar" "programsbar" "preview" "sound" "controlsbar";
  }

  .mic-client canvas {
    height: 100px;
  }
}

.gradient-tas {
  background-size: 100% 100%;
  background-origin: border-box;
  width: 100px;
}

.gradient-dropdown {
   max-height: 300px;
    overflow-y: auto;
}

.devicesbar {
  grid-area: devicesbar;
}

.programsbar {
  grid-area: programsbar;
  background-color: #1a1b1d;
  border-right: 8px solid black;
}

.programsbar .nav-link {
  cursor: pointer;
}

.programsbar .nav-link.active {
  color: white;
  background-color: #343a40;
}

.controlsbar {
  grid-area: controlsbar;
  background-color: #1a1b1d;
}

.preview { grid-area: preview; }

.soundbar { grid-area: sound; }

hr {
  border-top-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link {
  color: #999;
}

.sidebar-2 {
  background-color: #1a1b1d;
}

.list-group-item {
  color: #CCC;
  background-color: #343a40;
}

.list-group-item:hover {
  color: #CCC;
  background-color: #42484e;
}

.list-group-item.active:hover {
  background-color: #007bff;
}

.config-item .list-group-item {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.mic-client {
  background-color: #1a1b1d;
  position: relative;
}

.mic-client canvas {
  width: auto;
}

.mic-btns {
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-align: right;
}

.preview-btn {
  text-align: center;
  color: white;
  position: absolute;
  top: 48%;
  width: 100%;
}

.lights-simulator {
  background-color: black;
}

.preview-area {
  position: relative;
  /* background-color: #1a1b1d; */
  text-align: center;
}

.preview-area canvas {
  max-width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0px;
  width: 100%;
  background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  /*width: 150px;*/
  height: 3px;
  background: #343a40;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #007bff;
  margin-top: -8px;
  cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb, input[type=range]:active, input[type=range]:focus::-webkit-slider-thumb, input[type=range]::-webkit-slider-thumb:hover, input[type=range]:active::-webkit-slider-thumb {
  outline: none;
  background: #ffdf10;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CCC;
}
