body, html, div {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 56px;
  background-color: black;
  color: #aaa;
}

.sidebar {
  padding-top: 86px;
  background-color: #1a1b1d;
  position: fixed;
  overflow: scroll;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.sidebar .nav-link.active {
  color: white;
  background-color: #343a40;
}

hr {
  border-top-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link {
  color: #999;
}

.sidebar-2 {
  background-color: #1a1b1d;
}

.list-group-item {
  color: #CCC;
  background-color: #343a40;
}

.list-group-item:hover {
  color: #CCC;
  background-color: #42484e;
}

.list-group-item.active:hover {
  background-color: #007bff;
}

.config-item .list-group-item {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.mic-client {
  background-color: #1a1b1d;
  position: relative;
}

.preview-btn {
  text-align: center;
  color: white;
  position: absolute;
  top: 38%;
  width: 100%;
}

.perband-btn {
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-align: right;
}

.lights-simulator {
  background-color: black;
  margin-top: 86px;
}

.preview-area {
  border: 1px solid #1a1b1d;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0px;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  /*width: 150px;*/
  height: 3px;
  background: #343a40;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #007bff;
  margin-top: -8px;
  cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb, input[type=range]:active, input[type=range]:focus::-webkit-slider-thumb, input[type=range]::-webkit-slider-thumb:hover, input[type=range]:active::-webkit-slider-thumb {
  outline: none;
  background: #ffdf10;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CCC;
}
